<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
        <form method="POST">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Stock Price</label>
                  <select class="form-control" id="exampleFormControlSelect1" name= 'tests'>
                    <option value="open_prices">Open</option>
                    <option value="high">High</option>
                    <option value="low">Low</option>
                    <option value="close">Close</option>
                    <option value="volume">Volume</option>
                    <option value="dividend">Dividend</option>
                    <option value="split">Split</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>
</html>